<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1></h1>
     <small>
      
     </small>
     <p>
       
     </p>
     <p>
       <%= link_to "Start building your games profile.", welcome_index_path %>
     </p>
   </body>
 </html>