<p>Column chart showing when each event was created and grouped by hour of day</p>
<%= column_chart Event.group_by_hour_of_day(:created_at, format: "%l %P").count %>
<br>

<p>Pie chart showing number of users vs number of games</p>
<%= pie_chart [["Number of users", User.count],["Number of games", Game.count]] %>
<br>