<h1>Rules of the road</h1>
<ul>
    <li>Test your game often.</li>
    <li>Use javascript without window.onload</li>
    <li>Scripts are loaded under the body of the document.</li>
    <li>You can save pictures onto dropbox and then load them with javascript.<br> <small>Make a public dropbox link and then change the link and replace dropbox with https://dl.dropboxusercontent.com</small></li>
    <li>Only apply styles to elements you have given a class or you could mess up other pages.</li>
    <li>Have fun.</li>
</ul>




